.title{
    background-color: grey;   /* This formats the tiles of the pages color: text alingment, and height on the page */
    text-align: center; 
    height: 50px;
}
.title h1{        /*  The tile of the h1 title will be white */
 color : #fff; 
}

.row{                  /* This will push the rows down 50px from the top of the page */
    margin-top: 50px;
}

.forecast {  /* This will style the forecast on on the html page */
    background-color:  rgb(0, 96, 128);
    color: black; 
    height: 250px;
}

.icon {                 /* This will  move the weather icon away from the P tags within the card */
    padding-top:  20px;
    padding-bottom: 50px; 
}