.title{
    background-color: grey;   /* This formats the tiles of the pages color: text alingment, and height on the page */
    text-align: center; 
    height: 50px;
}
.title h1{        /*  The tile of the h1 title will be white */
 color : #fff; 
}

.row{                  /* This will push the rows down 50px from the top of the page */
    margin-top: 50px;
}